/* Footer container */

.footer {
    background-color: #2196F3; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 20px 0;
    text-align: center;
    display: flex; /* Change to a flex container */
    justify-content: space-between; /* Distribute content horizontally */
    align-items: center; /* Center items vertically */
    overflow-x: hidden;
  }
  
  /* Footer content container */
  .container {
    /* No need to modify this part */
  }
  
  /* Footer logo section */
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .footer-logo p {
    font-size: 16px;
    margin: 0;
  }
  
  /* Footer links */
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Footer social media icons */
  .footer-social a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
  }
  
  /* Hover effect for links */
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Hover effect for social media icons */
  .footer-social a:hover {
    color: #42A5F5;
  }
  
  .logo {
    text-decoration: none;
    color: black;
    font-family: 'Staatliches', cursive;
    color: #ffffff;
}